/***** Base : Tags *****/

* {
  box-sizing: var(--all-box-sizing);
}

*:target {
  padding-top: var(--target-margins);
  margin-top: -var(--target-margins);
}

html {
  font-size: var(--html-font-size);
  scroll-behavior: var(--html-scroll-behavior);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  padding: 0;
  line-height: var(--body-line-height);
  font-size: var(--body-font-size);
  font-family: var(--sans-serif);
  color: var(--body-color);
  background-color: var(--body-background-color);
}

main {
  text-align: var(--main-text-align);
}

article {
  margin-bottom: var(--article-margin-bottom);
}
