/***** Variables : Tags *****/

* {
  --all-box-sizing: border-box;
  --target-margins: 7rem;
}

html {
  --html-font-size: 62.5%;
  --html-scroll-behavior: smooth;
}

body {
  --body-background-color: var(--grey-light);
  --body-color: var(--black);
  --body-font-size: 2rem;
  --body-line-height: 1.6;
}

main {
  --main-text-align: center;
}

article {
  --article-margin-bottom: 20px;
}

figure {
  --figure-margin: 0;
}

table {
  --table-border-collapse: collapse;
  --table-margin: auto;
  --table-text-align: center;
  --table-vertical-align: middle;
}
